.page-background {
  width: 1366px;
  height: 768px 100vh;
  margin-left: auto;
  margin-right: auto;
  background: url(../img/main_background.svg);
}

a {
  text-decoration: none;
}

.header {
  width: 1028px;
  height: 61px;
  padding-top: 25px;
  padding-left: 160px;
}

.d_dlex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Milan-text {
  font-size: 29px;
}

.Holidays-text {
  font-size: 18px;
}

.phone_link {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: right;
}

.email_link {
  padding-bottom: 19px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: right;
}

.phone_link:hover {
  color: #f26522;
}

.email_link:hover {
  color: #f26522;
}

.Milan_Logo {
  padding-right: 10px;
}

.Milan-Holidays {
  font-family: Roboto;
  color: white;
  font-weight: 700;
}

.Milan-Holidays:hover {
  color: #f26522;
}

.Milan-Holidays:hover .Milan_Logo {
  display: none;
}

.Milan_Logo-filled {
  padding-right: 10px;
  display: none;
}

.Milan-Holidays:hover .Milan_Logo-filled {
  display: block;
}

.phone-email {
  display: flex;
  flex-direction: column;
}

.grid-container {
  padding-left: 160px;
  width: 1028px;
  padding-top: 17px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 37px 64px;
}

.grid-item-text {
  padding-top: 20px;
  color: white;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.grid-link {
  flex-direction: column;
}

.footer {
  padding-top: 49px;
  padding-bottom: 15px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.img-wrapper img {
  width: 300px;
}

.img-wrapper {
  position: relative;
  padding: 1px;
  background: linear-gradient(to right, white, black);
}

.badge {
  display: none;
  position: absolute;
  height: 55px;
  width: 295px;
  left: 0px;
  bottom: 0px;
  border-radius: 0px;
  background-color: #f26522;
}

.grid-link:hover .grid-item-text {
  color: #f26522;
}

.grid-link:hover .badge {
  display: block;
}

.text-from {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  color: white;
  padding-left: 16px;
  padding-top: 7px;
  }

.price-text {
  display: block;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: white;
  padding-left: 16px;
  padding-top: 8px;
 }

.view-details{
  color: white;
  padding-right: 25px;
  padding-top: 20px;
}

p.view-details:after{
  content: ">";
  display: inline-block;
  padding-left: 7px;
}