a {
  text-decoration: none;
}

.modal_wrapper {
  height: 770px;
  background: url(../img/background.png) no-repeat center center;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  background: #000000;
  opacity: 40%;
}

.JOURNEY-link {
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  padding-left: 80px;
}

.JOURNEY-link:hover {
  color: #3cb878;
}

.icon-link:hover svg path {
  fill: #3cb878;
}

.icon-link {
  padding-right: 25px;
}

.navbar {
  border-right: 1px solid #ffffff;
  margin-right: 27px;
}

.welcome-header {
  color: white;
  padding-right: 80px;
}

.LogIn-SignUp-link {
  color: white;
}

.d_flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.LogIn-SignUp-link:hover {
  color: #3cb878;
}

.modal_body {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  height: 584px;
  width: 444px;
  margin: auto;
  margin-top: 54px;
}

.SignUp-modal {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  color: #434343;
}

.SignUp-modal::before {
  display: inline-block;
  content: "";
  height: 18px;
  width: 18px;
  background-color: green;
  margin-right: 42px;
}

.LogIn-modal {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  color: #3cb878;
}

.LogIn-modal:hover {
  text-decoration: underline;
  color: #01813f;
}

.Sign-Log-title {
  padding-top: 30px;
  padding-right: 60px;
}

.login-btns {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 60px;
  padding-top: 16px;
  padding-bottom: 40px;
  }

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 157px;
  left: 2px;
  border: none;
  border-radius: 5px;
  color: white;
}

.facebook-btn {
  background: #305db8;
}

.google-btn {
  background: #df4a32;
}

.facebook-logo {
  padding-left: 15px;
}

.facebook-text {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding-right: 22px;
}

.G-logo {
  padding-left: 10px;
}

.google-text {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding-right: 27px;
}

.facebook-btn:hover {
  background: #0a162f;
}

.google-btn:hover {
  background: #ab1f09;
}

.user-input-box {
  position: relative;
  border-top: 1px solid #f2f2f2;
  padding-top: 16px;
  padding-left: 60px;
  padding-right: 60px;
}

.sign-input {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  height: 44px;
  width: 100%;
  padding-left: 16px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.custom-checkbox-block {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin-right: 11px;
  background-color: white;
}

.checkbox-default {
  position: absolute;
  left: 0;
  top: 0;
  right: 190px;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.accept-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.checkbox-default:checked + .custom-checkbox-block {
  background-image: url(../img/check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.Terms-Conditions {
  padding-left: 4px;
  padding-right: 4px;
  color: #3cb878;
}

.Terms-Conditions:hover {
  color: #01813f;
  border-bottom: 1px solid #01813f;
}

.Agree-text {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.create-btn {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #3CB878;
  border-radius: 4px;
  border: none;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
}

.create-btn:hover{
  background-color: #01813F;
}

.or {
  background-color: white;
  padding: 0 1px 0 1px;
  position: absolute;
  top: -10px;
  right: 50%;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  color: #848484;
}
 