.page{
    position: auto;
    width: 1280px;
    height: 1626px;
    background: rgb(255, 255, 255);
    margin: auto;
    border: 0.5px solid rgba(255, 255, 255, 0.808);
}

.navbar{
    position: relative;
    text-align: center;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 31.5px;
}

.menu-link{
    color: #FF0000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-decoration: none;
}

.menu-item{
    list-style-type: none;
    position: absolute;
    width: 68px;
    height: 27px;
    left: 0px;
    top: -5px;
    text-transform: uppercase;
}

.menu-item2{
    list-style-type: none;
    position: absolute;
    width: 131px;
    height: 27px;
    left: 140px;
    top: -6px;  
}

.menu-item3{
    list-style-type: none;
    position: absolute;
    width: 87px;
    height: 27px;
    left: 343px;
    top: -6px;

}

.menu-item4{
    list-style-type: none;
    position: absolute;
    width: 140px;
    height: 27px;
    left: 480px;
    top: -6px;

}

.header-text{
    position: relative;
    height: 29px;
    top: 900px;
    font-size: 22px;
    display:block;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;}

.main-text{
    position:relative;
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 950px;
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #020202;
}

#main-text2{
    position: relative;
    width: 1145px;
    height: 200px;
    left: 67.5px;
    top: 960px;
    font-family: Montserrat !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
}

#img-skoda{
    position: absolute;
    width: 1280px;
    height: 789px;
    top: 78px;
}


.container{
    position: relative;
    text-align: center;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 950px;
    background: #FF0000;
    border-radius: 4px;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom{
    /* Footer */
    position:relative;
    width: 1070px;
    height: 39px;
    bottom: -1000px;
}

.footer-item{
    position:absolute;
    width: 462px;
    height: 39px;
    left: 700px;
    top: 0px;
    font-family: 'Montserrat';
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
}